* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
/* Le outline:none permet d'enlever le bord automatique lorsque je clique dans une input text de ma apge */

li {
  list-style: none;
  cursor: pointer;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(222, 79, 18) 0%,
    rgb(229, 202, 103) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 5rem 0;
}

.todo-container {
  width: 540px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 10px 15px 30px rgba(4, 4, 4, 0.453);
  background: linear-gradient(
    90deg,
    rgba(35, 231, 173, 1) 0%,
    rgba(110, 223, 228, 1) 100%
  );
  text-align: center;
  padding: 2rem 1rem;
}
/* L'unité "rem" correspond au ration par rapport à la valeur du body tandis que l'unité "em" correspond à un ratio par rapport à la totalité '*'  */

#todoInput {
  border: none;
  background: linear-gradient(
    90deg,
    rgb(222, 79, 18) 0%,
    rgb(229, 202, 103) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 2px solid yellow;
  border-radius: 35px;
  height: 35px;
  width: 250px;
  padding: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.593);
  padding: 2px 15px;
}

h3 {
  font-size: 3em;
  text-shadow: -2px 2px 2px red;
}

ul li:before {
  content: "🌼";
  padding: 0.6rem;
  font-size: 1.3rem;
  color: rgb(221, 97, 39);
}
/* Ce before permet de mettre la fleur au début de la liste à la place d'un point */

ul li:after {
  opacity: 0;
}
/* L'after est pour le moment invisible */

ul li:hover:after {
  content: " (terminé)";
  opacity: 0;
  font-size: 1.1rem;
  color: rgb(221, 97, 39);
  font-style: italic;
  animation: pseudoClassAnim 1s forwards;
}
/* Cette classe permet d'ajouter un after, seulement au survol de la li, qui indique le mot "(terminé)" */
/* La classe est invisible jusqu'à ce qu'on passe la souris dessus grâce à la pseudoClass d'animaiton que l'on retrouve plus bas grâce à @keyframes */
/* On voit de cette manière que l'on peut injecter du texte en CSS */

li.checked:before {
  content: "✔️";
  padding: 10px;
  font-size: 1.1rem;
  color: rgb(230, 91, 11);
}
/* Cette classe permet d'ajouter un before à l'élément li, lorsque je l'appelle dans le JS au click */

li.checked:hover:after {
  content: " (supprimer)";
  font-size: 1.1rem;
  color: rgb(230, 91, 11);
  opacity: 0;
}
/* Cette classe permet d'ajouter un after à ma li, lorsque je passe la souris dessus. Elle est invisible jusque là. Pour qu'elle apparaisse, je dois avoir déjà cliqué une fois sur la li, puis passer la souris dessus. */

@keyframes pseudoClassAnim {
  to {
    opacity: 1;
  }
}
